@model Nine.Models.Owner


@{
  
}


<br />
<div class="col-md-8 grid-margin stretch-card" style="margin-left:230px">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title text text-primary" style="text-align:center">Create Owner</h1>
            <form asp-controller="Admin" asp-action="RegisterOwner" method="post" enctype="multipart/form-data">

                <div class="form-group">
                    <label>Name</label>
                    <input asp-for="Name" class="form-control" aria-required="true" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" asp-for="Email" class="form-control" aria-required="true" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" asp-for="Password" class="form-control" aria-required="true" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label>ConfirmPassword</label>
                    <input type="password" asp-for="ConfirmPassword" class="form-control" aria-required="true" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>

                <input type="submit" value="Register" class="btn btn-outline-info" style="margin-top : 30px" />
            </form>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
