.a-cleanup {
    color: inherit;
    Text-decoration: none;
    text-align:center;
}
.a-cleanup:hover{
    text-decoration:none;
    color:aqua;
}
.card-image-custom{
    width:100%;
    height:26vw;
    object-fit:cover; 
}

.store-card{
    transition: all 0.2s ease;
}

.store-card:hover{
    transform:scale(1.03);
    box-shadow: lightgray 2px 5px 5px 2px;
}

.store-btn{
    transition: all 0.2s ease;
    margin-left:30px;
}

.store-btn:hover{
    background-color:forestgreen;
}